<!DOCTYPE html>
<html lang="en">

<head>
    <!--This includes Bootstrap, Jquery, and the CSS file-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <meta name="description" content="Online NCEA Practise Website with Automatic Assessment system">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-85RSXS9VJN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-85RSXS9VJN');
    </script>
    
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>ProjectE</title>
    {% block head %} {% endblock %}
</head>

<body>
    <!-- This is the base.html file-->
    <nav id="nav" class="navbar"> <!--The navbar for users to navigate easier-->
        <h3>ProjectE</h3>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            {% if 'user' in session %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('signup') }}">Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}{% endblock %}
    <script>
    // Loop over them and prevent submission
    document.querySelectorAll('.needs-validation').forEach(function(form) {
        form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
        }, false);
    });
    </script>
</body>

</html>