{% extends "base.html" %}
<!DOCTYPE html>

<head>
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="row" style="min-height: 60vh;">
            <div class="col-md-5">
                <button class="btn btn-block btn-outline-dark" onclick="javascript:ShowModal('{{ question[1] }}')">Question List</button>
                <div class="card">
                    {% if question[4] %}
                    <img src="{{ url_for('static', filename=('images/' + question[4])) }}" class="card-img-top"
                        style="max-height: 200px; max-width: 200px;" id="QuestionImage">
                    {% else %}
                    <img src="#" class="card-img-top"
                        style="max-height: 200px; max-width: 200px;" id="QuestionImage" hidden>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text" id="QuestionText">
                            {% for line in question[2].split('\n') %}
                                {{ line }}<br>
                            {% endfor %}
                        </p>
                        <hr>
                        <small class="card-text">Adapted from <span id="QuestionSource">{{ question [5] }}</span> examplar</small>
                    </div>
                </div>
            </div>
            <div class="col-md-7" id="content">
                <form novalidate id="form">
                    <textarea class="form-control" id="text" rows="16"></textarea>
                    <div class="row">
                        <div class="col-6"><button type="button" class="btn btn-block btn-warning" onclick="javascript:ChangeForm()">Skip</button></div>
                        <div class="col-6"><button type="button" class="btn btn-block btn-success" onclick="javascript:SubmitForm()">Submit</button></div>
                    </div>
                </form>
            </div>
            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Question List</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card" style="width: 100%;" id="ModalContent">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function SubmitForm() {
            if ($("#text").val().split(/\s+/).length < 10) {
                alert("Please write more than 10 words!");
            } else {
                $.post({
                    url: "{{ url_for('test') }}",
                    data: {
                        'text': $("#text").val()
                    },
                    success: function (data) {
                        if (data.success == true) {
                            $("#content").html(data.html)
                        }
                    },
                });
            }
        }

        function ResetForm() {
            $("#content").html(`
                <form novalidate id="form">
                    <textarea class="form-control" id="text" rows="16"></textarea>
                    <div class="row">
                        <div class="col-6"><button type="button" class="btn btn-block btn-warning" onclick="javascript:ChangeForm()">Skip</button></div>
                        <div class="col-6"><button type="button" class="btn btn-block btn-success" onclick="javascript:SubmitForm()">Submit</button></div>
                    </div>
                </form>
            `);
        }

        function ChangeForm() {
            $("#content").html(`
                <form novalidate id="form">
                    <textarea class="form-control" id="text" rows="16"></textarea>
                    <div class="row">
                        <div class="col-6"><button type="button" class="btn btn-block btn-warning" onclick="javascript:ChangeForm()">Skip</button></div>
                        <div class="col-6"><button type="button" class="btn btn-block btn-success" onclick="javascript:SubmitForm()">Submit</button></div>
                    </div>
                </form>
            `);
            $.get("{{ url_for('test') }}", function(data) {
                if (data.success == true) {
                    if (data.question == null) {
                        alert("You finished all the questions!\nPlease pick another standard.");
                        window.location.href = "{{ url_for('home') }}";
                    } else {
                        window.history.pushState({}, "", data.question[0]);
                        if (data.question[4] == null) {
                            $("#QuestionImage").hide();
                        } else {
                            $("#QuestionImage").show();
                            var fullpath = "{{ url_for('static', filename='images/') }}" + data.question[4];
                            $("#QuestionImage").attr("src", fullpath);
                        }
                        $("#QuestionText").text(data.question[2]);
                        $("#QuestionSource").text(data.question[5]);
                    }
                }
            });
        }
        
        function ShowModal(standard_id) {
            var url = "{{ url_for('standard', standard_id='temp', fetch_type='question') }}".replace('temp', standard_id)
            $.get(url, function(data) {
                if (data.success == true) {
                    $('#ModalContent').html(data.html);
                    $('#modal').modal('toggle');
                }
            });
        }

        window.onpopstate = function(e){
            location.reload();
        };
        </script>
    {% endblock %}
</body>

</html>